@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
    font-family: moderfb;
    src: url(/assets/fonts/modernofbcomp-bold.otf);
}

*{
    scroll-behavior: smooth !important;
}

body{
     font-family: "Noto Serif", serif;
}

.ff-moderfb{
    font-family: moderfb;
}
.swiper-button-next:after{
    display: none !important;
}

.swiper-button-prev:after{
    display: none !important;
}

.shadows {
    text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.32), 
                 2px 2px 4px rgba(0, 0, 0, 0.25) !important;
}